.container {
  background-image: url("/img/life-s-captured-sparks-YM0UVOJX-lQ-unsplash.jpg");
  min-height: 800px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(250, 239, 239);
}

.sectionWrapper {
  display: flex;
  justify-content: center;
  min-width: 100%;
  text-align: left;
}

.section {
  background-color: #ffff;
  border-radius: 18px;
}

.textGreen {
  color: green;
  font-size: x-large;
}

.orSpan {
  font-size: x-large;
}

.searchBtn {
  padding: 6px 0px;
}
